# Ambiente virtual
venv/
env/
.env/
.venv/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de cache e logs
.cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.coverage.*
*.cover
*.log
logs/
log/

# Arquivos IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Arquivos Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Arquivos específicos do Streamlit
.streamlit/secrets.toml

# Arquivos CSV locais ou temporários
*.csv